<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Components{{/i}}</h1>
  <p class="lead">{{_i}}Dozens of reusable components are built into Bootstrap to provide navigation, alerts, popovers, and much more.{{/i}}</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Buttons{{/i}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#buttonGroups">{{_i}}Button groups{{/i}}</a></li>
          <li><a href="#buttonDropdowns">{{_i}}Button dropdowns{{/i}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Navigation{{/i}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#navs">{{_i}}Nav, tabs, pills{{/i}}</a></li>
          <li><a href="#navbar">{{_i}}Navbar{{/i}}</a></li>
          <li><a href="#breadcrumbs">{{_i}}Breadcrumbs{{/i}}</a></li>
          <li><a href="#pagination">{{_i}}Pagination{{/i}}</a></li>
        </ul>
      </li>
      <li><a href="#labels">{{_i}}Labels{{/i}}</a></li>
      <li><a href="#thumbnails">{{_i}}Thumbnails{{/i}}</a></li>
      <li><a href="#alerts">{{_i}}Alerts{{/i}}</a></li>
      <li><a href="#progress">{{_i}}Progress bars{{/i}}</a></li>
      <li><a href="#misc">{{_i}}Miscellaneous{{/i}}</a></li>
    </ul>
  </div>
</header>



<!-- Button Groups
================================================== -->
<section id="buttonGroups">
  <div class="page-header">
    <h1>{{_i}}Button groups{{/i}} <small>{{_i}}Join buttons for more toolbar-like functionality{{/i}}</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Button groups{{/i}}</h3>
      <p>{{_i}}Use button groups to join multiple buttons together as one composite component. Build them with a series of <code>&lt;a&gt;</code> or <code>&lt;button&gt;</code> elements.{{/i}}</p>
      <p>{{_i}}You can also combine sets of <code>&lt;div class="btn-group"&gt;</code> into a <code>&lt;div class="btn-toolbar"&gt;</code> for more complex projects.{{/i}}</p>
      <div class="btn-toolbar" style="margin-top: 18px;">
        <div class="btn-group">
          <a class="btn" href="#">{{_i}}Left{{/i}}</a>
          <a class="btn" href="#">{{_i}}Middle{{/i}}</a>
          <a class="btn" href="#">{{_i}}Right{{/i}}</a>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn" href="#">1</a>
          <a class="btn" href="#">2</a>
          <a class="btn" href="#">3</a>
          <a class="btn" href="#">4</a>
        </div>
        <div class="btn-group">
          <a class="btn" href="#">5</a>
          <a class="btn" href="#">6</a>
          <a class="btn" href="#">7</a>
        </div>
        <div class="btn-group">
          <a class="btn" href="#">8</a>
        </div>
      </div>
    </div>
    <div class="span4">
      <h3>{{_i}}Example markup{{/i}}</h3>
      <p>{{_i}}Here's how the HTML looks for a standard button group built with anchor tag buttons:{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn" href="#"&gt;1&lt;/a&gt;
  &lt;a class="btn" href="#"&gt;2&lt;/a&gt;
  &lt;a class="btn" href="#"&gt;3&lt;/a&gt;
&lt;/div&gt;
</pre>
      <p>{{_i}}And with a toolbar for multiple groups:{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="btn-toolbar"&gt;
  &lt;div class="btn-group"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Checkbox and radio flavors{{/i}}</h3>
      <p>{{_i}}Button groups can also function as radios, where only one button may be active, or checkboxes, where any number of buttons may be active. View <a href="./javascript.html#buttons">the Javascript docs</a> for that.{{/i}}</p>
      <p><a class="btn js-btn" href="./javascript.html#buttons">{{_i}}Get the javascript &raquo;{{/i}}</a></p>
      <hr>
      <h4 class="muted">{{_i}}Heads up{{/i}}</h4>
      <p class="muted">{{_i}}CSS for button groups is in a separate file, button-groups.less.{{/i}}</p>
    </div>
  </div>
</section>



<!-- Split button dropdowns
================================================== -->
<section id="buttonDropdowns">
  <div class="page-header">
    <h1>{{_i}}Buttons dropdowns{{/i}} <small>{{_i}}Contextual dropdown menus built on button groups{{/i}}</small></h1>
  </div>

  <div class="row">
    <div class="span4">
      <h3>{{_i}}Button dropdowns{{/i}}</h3>
      <p>{{_i}}Use any button to trigger a dropdown menu by placing it within a <code>.btn-group</code> and providing the proper menu markup.{{/i}}</p>
      <div class="btn-toolbar" style="margin-top: 18px;">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Action{{/i}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Action{{/i}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Danger{{/i}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Success{{/i}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Info{{/i}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div>
    </div>
    <div class="span8">
      <h3>{{_i}}Example markup{{/i}}</h3>
      <p>{{_i}}Similar to a button group, our markup uses regular button markup, but with a handful of additions to refine the style and support Bootstrap's dropdown jQuery plugin.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn dropdown-toggle" data-toggle="dropdown" href="#"&gt;
    {{_i}}Action{{/i}}
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/a&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;!-- {{_i}}dropdown menu links{{/i}} --&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h3>{{_i}}Split button dropdowns{{/i}}</h3>
      <p>{{_i}}Building on the button group styles and markup, we can easily create a split button. Split buttons feature a standard action on the left and a dropdown toggle on the right with contextual links.{{/i}}</p>
      <div class="btn-toolbar" style="margin-top: 18px;">
        <div class="btn-group">
          <a class="btn" href="#">{{_i}}Action{{/i}}</a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-primary" href="#">{{_i}}Action{{/i}}</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-danger" href="#">{{_i}}Danger{{/i}}</a>
          <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-success" href="#">{{_i}}Success{{/i}}</a>
          <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
        <div class="btn-group">
          <a class="btn btn-info" href="#">{{_i}}Info{{/i}}</a>
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div>
    </div>
    <div class="span8">
      <h3>{{_i}}Example markup{{/i}}</h3>
      <p>{{_i}}We expand on the normal button dropdowns to provide a second button action that operates as a separate dropdown trigger.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="btn-group"&gt;
  &lt;a class="btn" href="#"&gt;{{_i}}Action{{/i}}&lt;/a&gt;
  &lt;a class="btn dropdown-toggle" data-toggle="dropdown" href="#"&gt;
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/a&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;!-- {{_i}}dropdown menu links{{/i}} --&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
</section>



<!-- Nav, Tabs, & Pills
================================================== -->
<section id="navs">
  <div class="page-header">
    <h1>{{_i}}Nav, tabs, and pills{{/i}} <small>{{_i}}Highly customizable list-style navigation{{/i}}</small></h1>
  </div>

  <h2>{{_i}}Lightweight defaults{{/i}} <small>{{_i}}Same markup, different classes{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Powerful base class{{/i}}</h3>
      <p>{{_i}}All nav components here&mdash;tabs, pills, and lists&mdash;<strong>share the same base markup and styles</strong> through the <code>.nav</code> class.{{/i}}</p>
      <h3>{{_i}}When to use{{/i}}</h3>
      <p>{{_i}}Tabs and pills are great for sections of content or navigating between pages of related content.{{/i}}</p>
      <h3>{{_i}}Component alignment{{/i}}</h3>
      <p>{{_i}}To align nav links, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Basic tabs{{/i}}</h3>
      <p>{{_i}}Take a regular <code>&lt;ul&gt;</code> of links and add <code>.nav-tabs</code>:{{/i}}</p>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li><a href="#">{{_i}}Messages{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-tabs"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;{{_i}}Home{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Basic pills{{/i}}</h3>
      <p>{{_i}}Take that same HTML, but use <code>.nav-pills</code> instead:{{/i}}</p>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li><a href="#">{{_i}}Messages{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-pills"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;{{_i}}Home{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Stackable{{/i}} <small>{{_i}}Make tabs or pills vertical{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}How to stack 'em{{/i}}</h3>
      <p>{{_i}}As tabs and pills are horizontal by default, just add a second class, <code>.nav-stacked</code>, to make them appear vertically stacked.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Stacked tabs{{/i}}</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li><a href="#">{{_i}}Messages{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-tabs nav-stacked"&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Stacked pills{{/i}}</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li><a href="#">{{_i}}Messages{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-pills nav-stacked"&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Dropdowns{{/i}} <small>{{_i}}For advanced nav components{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Rich menus made easy{{/i}}</h3>
      <p>{{_i}}Dropdown menus in Bootstrap tabs and pills are super easy and require only a little extra HTML and a lightweight jQuery plugin.{{/i}}</p>
      <p>{{_i}}Head over to the Javascript page to read the docs on <a href="./javascript.html#tabs">initializing dropdowns</a> in Bootstrap.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Tabs with dropdowns{{/i}}</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-tabs"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"&gt;
        {{_i}}Dropdown{{/i}}
        &lt;b class="caret"&gt;&lt;/b&gt;
      &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      &lt;!-- {{_i}}links{{/i}} --&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Pills with dropdowns{{/i}}</h3>
      <ul class="nav nav-pills">
        <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
        <li><a href="#">{{_i}}Profile{{/i}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{_i}}Action{{/i}}</a></li>
            <li><a href="#">{{_i}}Another action{{/i}}</a></li>
            <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
          </ul>
        </li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-pills"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"&gt;
        {{_i}}Dropdown{{/i}}
        &lt;b class="caret"&gt;&lt;/b&gt;
      &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      &lt;!-- {{_i}}links{{/i}} --&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Nav lists{{/i}} <small>{{_i}}Build simple stacked navs, great for sidebars{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Application-style navigation{{/i}}</h3>
      <p>{{_i}}Nav lists provide a simple and easy way to build groups of nav links with optional headers. They're best used in sidebars like the Finder in OS X.{{/i}}</p>
      <p>{{_i}}Structurally, they're built on the same core nav styles as tabs and pills, so usage and customization are straightforward.{{/i}}</p>
      <h4>{{_i}}With icons{{/i}}</h4>
      <p>{{_i}}Nav lists are also easy to equip with icons. Add the proper <code>&lt;i&gt;</code> tag with class and you're set.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Example nav list{{/i}}</h3>
      <p>{{_i}}Take a list of links and add <code>class="nav nav-list"</code>:{{/i}}</p>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">{{_i}}List header{{/i}}</li>
          <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
          <li><a href="#">{{_i}}Library{{/i}}</a></li>
          <li><a href="#">{{_i}}Applications{{/i}}</a></li>
          <li class="nav-header">{{_i}}Another list header{{/i}}</li>
          <li><a href="#">{{_i}}Profile{{/i}}</a></li>
          <li><a href="#">{{_i}}Settings{{/i}}</a></li>
          <li><a href="#">{{_i}}Help{{/i}}</a></li>
        </ul>
      </div> <!-- /well -->
<pre class="prettyprint linenums">
&lt;ul class="nav nav-list"&gt;
  &lt;li class="nav-header"&gt;
    {{_i}}List header{{/i}}
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;{{_i}}Home{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;{{_i}}Library{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Example with icons{{/i}}</h3>
      <p>{{_i}}Same example, but with <code>&lt;i&gt;</code> tags for icons.{{/i}}</p>
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">{{_i}}List header{{/i}}</li>
          <li class="active"><a href="#"><i class="icon-white icon-home"></i> {{_i}}Home{{/i}}</a></li>
          <li><a href="#"><i class="icon-book"></i> {{_i}}Library{{/i}}</a></li>
          <li><a href="#"><i class="icon-pencil"></i> {{_i}}Applications{{/i}}</a></li>
          <li class="nav-header">{{_i}}Another list header{{/i}}</li>
          <li><a href="#"><i class="icon-user"></i> {{_i}}Profile{{/i}}</a></li>
          <li><a href="#"><i class="icon-cog"></i> {{_i}}Settings{{/i}}</a></li>
          <li><a href="#"><i class="icon-flag"></i> {{_i}}Help{{/i}}</a></li>
        </ul>
      </div> <!-- /well -->
<pre class="prettyprint linenums">
&lt;ul class="nav nav-list"&gt;
  ...
  &lt;li&gt;
    &lt;a href="#"&gt;
      &lt;i class="icon-book"&gt;&lt;/i&gt;
      {{_i}}Library{{/i}}
    &lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
  </div>


  <h2>{{_i}}Tabbable nav{{/i}} <small>{{_i}}Bring tabs to life via javascript{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}What's included{{/i}}</h3>
      <p>{{_i}}Bring your tabs to life with a simple plugin to toggle between content via tabs. Bootstrap integrates tabbable tabs in four styles: top (default), right, bottom, and left.{{/i}}</p>
      <p>{{_i}}Changing between them is easy and only requires changing very little markup.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Tabbable example{{/i}}</h3>
      <p>{{_i}}To make tabs tabbable, wrap the <code>.nav-tabs</code> in another div with class <code>.tabbable</code>.{{/i}}</p>
      <div class="tabbable" style="margin-bottom: 9px;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">{{_i}}Section 1{{/i}}</a></li>
          <li><a href="#2" data-toggle="tab">{{_i}}Section 2{{/i}}</a></li>
          <li><a href="#3" data-toggle="tab">{{_i}}Section 3{{/i}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <p>{{_i}}I'm in Section 1.{{/i}}</p>
          </div>
          <div class="tab-pane" id="2">
            <p>{{_i}}Howdy, I'm in Section 2.{{/i}}</p>
          </div>
          <div class="tab-pane" id="3">
            <p>{{_i}}What up girl, this is Section 3.{{/i}}</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
    </div>
    <div class="span4">
      <h3>{{_i}}Custom jQuery plugin{{/i}}</h3>
      <p>{{_i}}All tabbable tabs are powered by our lightweight jQuery plugin. Read more about how to bring tabbable tabs to life on the javascript docs page.{{/i}}</p>
      <p><a class="btn" href="./javascript.html#tabs">{{_i}}Get the javascript &rarr;{{/i}}</a></p>
    </div>
  </div>

  <h3>{{_i}}Straightforward markup{{/i}}</h3>
  <p>{{_i}}Using tabbable tabs requires a wrapping div, a set of tabs, and a set of tabbable panes of content.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="tabbable"&gt;
  &lt;ul class="nav nav-tabs"&gt;
    &lt;li class="active"&gt;&lt;a href="#1" data-toggle="tab"&gt;{{_i}}Section 1{{/i}}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#2" data-toggle="tab"&gt;{{_i}}Section 2{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    &lt;div class="tab-pane active" id="1"&gt;
      &lt;p&gt;{{_i}}I'm in Section 1.{{/i}}&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="tab-pane" id="2"&gt;
      &lt;p&gt;{{_i}}Howdy, I'm in Section 2.{{/i}}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

  <h3>{{_i}}Tabbable in any direction{{/i}}</h3>
  <div class="row">
    <div class="span4">
      <h4>{{_i}}Tabs on the bottom{{/i}}</h4>
      <p>{{_i}}Flip the order of the HTML and add a class to put tabs on the bottom.{{/i}}</p>
      <div class="tabbable tabs-below">
        <div class="tab-content">
          <div class="tab-pane active" id="A">
            <p>{{_i}}I'm in Section A.{{/i}}</p>
          </div>
          <div class="tab-pane" id="B">
            <p>{{_i}}Howdy, I'm in Section B.{{/i}}</p>
          </div>
          <div class="tab-pane" id="C">
            <p>{{_i}}What up girl, this is Section C.{{/i}}</p>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#A" data-toggle="tab">{{_i}}Section 1{{/i}}</a></li>
          <li><a href="#B" data-toggle="tab">{{_i}}Section 2{{/i}}</a></li>
          <li><a href="#C" data-toggle="tab">{{_i}}Section 3{{/i}}</a></li>
        </ul>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums" style="margin-top: 11px;">
&lt;div class="tabbable tabs-below"&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
  &lt;ul class="nav nav-tabs"&gt;
    ...
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h4>{{_i}}Tabs on the left{{/i}}</h4>
      <p>{{_i}}Swap the class to put tabs on the left.{{/i}}</p>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#lA" data-toggle="tab">{{_i}}Section 1{{/i}}</a></li>
          <li><a href="#lB" data-toggle="tab">{{_i}}Section 2{{/i}}</a></li>
          <li><a href="#lC" data-toggle="tab">{{_i}}Section 3{{/i}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <p>{{_i}}I'm in Section A.{{/i}}</p>
          </div>
          <div class="tab-pane" id="lB">
            <p>{{_i}}Howdy, I'm in Section B.{{/i}}</p>
          </div>
          <div class="tab-pane" id="lC">
            <p>{{_i}}What up girl, this is Section C.{{/i}}</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums">
&lt;div class="tabbable tabs-left"&gt;
  &lt;ul class="nav nav-tabs"&gt;
    ...
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h4>{{_i}}Tabs on the right{{/i}}</h4>
      <p>{{_i}}Swap the class to put tabs on the right.{{/i}}</p>
      <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#rA" data-toggle="tab">{{_i}}Section 1{{/i}}</a></li>
          <li><a href="#rB" data-toggle="tab">{{_i}}Section 2{{/i}}</a></li>
          <li><a href="#rC" data-toggle="tab">{{_i}}Section 3{{/i}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="rA">
            <p>{{_i}}I'm in Section A.{{/i}}</p>
          </div>
          <div class="tab-pane" id="rB">
            <p>{{_i}}Howdy, I'm in Section B.{{/i}}</p>
          </div>
          <div class="tab-pane" id="rC">
            <p>{{_i}}What up girl, this is Section C.{{/i}}</p>
          </div>
        </div>
      </div> <!-- /tabbable -->
<pre class="prettyprint linenums">
&lt;div class="tabbable tabs-right"&gt;
  &lt;ul class="nav nav-tabs"&gt;
    ...
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

</section>



<!-- Navbar
================================================== -->
<section id="navbar">
  <div class="page-header">
    <h1>{{_i}}Navbar{{/i}}</h1>
  </div>
  <h2>{{_i}}Static navbar example{{/i}}</h2>
  <p>{{_i}}An example of a static (not fixed to the top) navbar with project name, navigation, and search form.{{/i}}</p>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">{{_i}}Project name{{/i}}</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">{{_i}}Home{{/i}}</a></li>
            <li><a href="#">{{_i}}Link{{/i}}</a></li>
            <li><a href="#">{{_i}}Link{{/i}}</a></li>
            <li><a href="#">{{_i}}Link{{/i}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">{{_i}}Action{{/i}}</a></li>
                <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          <ul class="nav pull-right">
            <li><a href="#">{{_i}}Link{{/i}}</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">{{_i}}Action{{/i}}</a></li>
                <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div class="row">
    <div class="span8">
      <h3>{{_i}}Navbar scaffolding{{/i}}</h3>
      <p>{{_i}}The navbar requires only a few divs to structure it well for static or fixed display.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="navbar"&gt;
  &lt;div class="navbar-inner"&gt;
    &lt;div class="container"&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
      <p>{{_i}}To make the navbar fixed to the top of the viewport, add <code>.navbar-fixed-top</code> to the outermost div, <code>.navbar</code>. In your CSS, you will also need to account for the overlap it causes by adding <code>padding-top: 40px;</code> to your <code>&lt;body&gt;</code>.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="navbar navbar-fixed-top"&gt;
  ...
&lt;/div&gt;
</pre>
      <h3>{{_i}}Brand name{{/i}}</h3>
      <p>{{_i}}A simple link to show your brand or project name only requires an anchor tag.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;a class="brand" href="#"&gt;
  {{_i}}Project name{{/i}}
&lt;/a&gt;
</pre>
      <h3>{{_i}}Search form{{/i}}</h3>
      <p>{{_i}}Search forms receive custom styles in the navbar with the <code>.navbar-search</code> class. Include <code>.pull-left</code> or <code>.pull-right</code> on the <code>form</code> to align it.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;form class="navbar-search pull-left"&gt;
  &lt;input type="text" class="search-query" placeholder="{{_i}}Search{{/i}}"&gt;
&lt;/form&gt;
</pre>
      <h3>{{_i}}Optional responsive variation{{/i}}</h3>
      <p>{{_i}}Depending on the amount of content in your topbar, you might want to implement the responsive options. To do so, wrap your nav content in a containing div, <code>.nav-collapse.collapse</code>, and add the navbar toggle button, <code>.btn-navbar</code>.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="navbar"&gt;
  &lt;div class="navbar-inner"&gt;
    &lt;div class="container"&gt;
      
      &lt;!-- {{_i}}.btn-navbar is used as the toggle for collapsed navbar content{{/i}} --&gt;
      &lt;a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
        &lt;span class="icon-bar"&gt;&lt;/span&gt;
      &lt;/a&gt;
      
      &lt;!-- {{_i}}Be sure to leave the brand out there if you want it shown{{/i}} --&gt;
      &lt;a class="brand" href="#"&gt;{{_i}}Project name{{/i}}&lt;/a&gt;

      &lt;!-- {{_i}}Everything you want hidden at 940px or less, place within here{{/i}} --&gt;
      &lt;div class="nav-collapse"&gt;
        &lt;!-- .nav, .navbar-search, .navbar-form, etc --&gt;
      &lt;/div&gt;

    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
      <div class="alert alert-info">
        <strong>{{_i}}Heads up!{{/i}}</strong> The responsive navbar requires the <a href="./javascript.html#collapse">collapse plugin</a>.
      </div>

    </div><!-- /.span -->
    <div class="span4">
      <h3>{{_i}}Nav links{{/i}}</h3>
      <p>{{_i}}Nav items are simple to add via unordered lists.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="nav"&gt;
  &lt;li class="active"&gt;
    &lt;a href="#">{{_i}}Home{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;{{_i}}Link{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;{{_i}}Link{{/i}}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
      <h3>{{_i}}Component alignment{{/i}}</h3>
      <p>{{_i}}To align a nav, search form, or text, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.{{/i}}</p>
      <h3>{{_i}}Adding dropdowns{{/i}}</h3>
      <p>{{_i}}Adding dropdowns to the nav is super simple, but does require the use of <a href="./javascript.html#dropdown">our javascript plugin</a>.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="nav"&gt;
  &lt;li class="dropdown"&gt;
    &lt;a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          {{_i}}Account{{/i}}
          &lt;b class="caret"&gt;&lt;/b&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      ...
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
      <p><a class="btn" href="./javascript.html#dropdown">{{_i}}Get the javascript &rarr;{{/i}}</a></p>
    </div><!-- /.span -->
  </div><!-- /.row -->

</section>



<!-- Breadcrumbs
================================================== -->
<section id="breadcrumbs">
  <div class="page-header">
    <h1>{{_i}}Breadcrumbs{{/i}} <small></small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <h3>{{_i}}Why use them{{/i}}</h3>
      <p>{{_i}}Breadcrumb navigation is used as a way to show users where they are within an app or a site, but not for primary navigation. Keep their use sparse and succinct to be most effective.{{/i}}</p>

      <h3>{{_i}}Examples{{/i}}</h3>
      <p>{{_i}}A single example shown as it might be displayed across multiple pages.{{/i}}</p>
      <ul class="breadcrumb">
        <li class="active">{{_i}}Home{{/i}}</li>
      </ul>
      <ul class="breadcrumb">
        <li><a href="#">{{_i}}Home{{/i}}</a> <span class="divider">/</span></li>
        <li class="active">{{_i}}Library{{/i}}</li>
      </ul>
      <ul class="breadcrumb">
        <li><a href="#">{{_i}}Home{{/i}}</a> <span class="divider">/</span></li>
        <li><a href="#">{{_i}}Library{{/i}}</a> <span class="divider">/</span></li>
        <li class="active">{{_i}}Data{{/i}}</li>
      </ul>
    </div>
    <div class="span6">
      <h3>{{_i}}Markup{{/i}}</h3>
      <p>{{_i}}HTML is your standard unordered list with links.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="breadcrumb"&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;{{_i}}Home{{/i}}&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;{{_i}}Library{{/i}}&lt;/a&gt; &lt;span class="divider"&gt;/&lt;/span&gt;
  &lt;/li&gt;
  &lt;li class="active"&gt;
    &lt;a href="#"&gt;{{_i}}Data{{/i}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>

</section>



<!-- Pagination
================================================== -->
<section id="pagination">
  <div class="page-header">
    <h1>{{_i}}Pagination{{/i}} <small>{{_i}}Two options for paging through content{{/i}}</small></h1>
  </div>

  <h2>{{_i}}Multicon-page pagination{{/i}}</h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}When to use{{/i}}</h3>
      <p>{{_i}}Ultra simplistic and minimally styled pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.{{/i}}</p>
      <h3>{{_i}}Stateful page links{{/i}}</h3>
      <p>{{_i}}Links are customizable and work in a number of circumstances with the right class. <code>.disabled</code> for unclickable links and <code>.active</code> for current page.{{/i}}</p>
      <h3>{{_i}}Flexible alignment{{/i}}</h3>
      <p>{{_i}}Add either of two optional classes to change the alignment of pagination links: <code>.pagination-centered</code> and <code>.pagination-right</code>.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Examples{{/i}}</h3>
      <p>{{_i}}The default pagination component is flexible and works in a number of variations.{{/i}}</p>
      <div class="pagination">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">10</a></li>
          <li class="active"><a href="#">11</a></li>
          <li><a href="#">12</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="pagination">
        <ul>
          <li><a href="#">&larr;</a></li>
          <li class="active"><a href="#">10</a></li>
          <li class="disabled"><a href="#">...</a></li>
          <li><a href="#">20</a></li>
          <li><a href="#">&rarr;</a></li>
        </ul>
      </div>
      <div class="pagination pagination-centered">
        <ul>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <h3>{{_i}}Markup{{/i}}</h3>
      <p>{{_i}}Wrapped in a <code>&lt;div&gt;</code>, pagination is just a <code>&lt;ul&gt;</code>.{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div class="pagination"&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Prev&lt;/a&gt;&lt;/li>
    &lt;li class="active"&gt;
      &lt;a href="#"&gt;1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Next&lt;/a&gt;&lt;/li>
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div><!-- /row -->

  <h2>{{_i}}Pager{{/i}} <small>{{_i}}For quick previous and next links{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}About pager{{/i}}</h3>
      <p>{{_i}}The pager component is a set of links for simple pagination implementations with light markup and even lighter styles. It's great for simple sites like blogs or magazines.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Default example{{/i}}</h3>
      <p>{{_i}}By default, the pager centers links.{{/i}}</p>
      <ul class="pager">
        <li><a href="#">{{_i}}Previous{{/i}}</a></li>
        <li><a href="#">{{_i}}Next{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;{{_i}}Previous{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#"&gt;{{_i}}Next{{/i}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Aligned links{{/i}}</h3>
      <p>{{_i}}Alternatively, you can align each link to the sides:{{/i}}</p>
      <ul class="pager">
        <li class="previous"><a href="#">{{_i}}&larr; Older{{/i}}</a></li>
        <li class="next"><a href="#">{{_i}}Newer &rarr;{{/i}}</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="pager"&gt;
  &lt;li class="previous"&gt;
    &lt;a href="#"&gt;{{_i}}&amp;larr; Older{{/i}}&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="next"&gt;
    &lt;a href="#"&gt;{{_i}}Newer &amp;rarr;{{/i}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div><!-- /row -->
</section>



<!-- Labels
================================================== -->
<section id="labels">
  <div class="page-header">
    <h1>{{_i}}Inline labels{{/i}} <small>{{_i}}Label and annotate text{{/i}}</small></h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{_i}}Labels{{/i}}</th>
        <th>{{_i}}Markup{{/i}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label">{{_i}}Default{{/i}}</span>
        </td>
        <td>
          <code>&lt;span class="label"&gt;{{_i}}Default{{/i}}&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-success">{{_i}}Success{{/i}}</span>
        </td>
        <td>
          <code>&lt;span class="label label-success"&gt;{{/_i}}Success{{/i}}&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-warning">{{_i}}Warning{{/i}}</span>
        </td>
        <td>
          <code>&lt;span class="label label-warning"&gt;{{_i}}Warning{{/i}}&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-important">{{_i}}Important{{/i}}</span>
        </td>
        <td>
          <code>&lt;span class="label label-important"&gt;{{_i}}Important{{/i}}&lt;/span&gt;</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-info">{{_i}}Info{{/i}}</span>
        </td>
        <td>
          <code>&lt;span class="label label-info"&gt;{{_i}}Info{{/i}}&lt;/span&gt;</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>



<!-- Thumbnails
================================================== -->
<section id="thumbnails">
  <div class="page-header">
    <h1>{{_i}}Thumbnails{{/i}} <small>{{_i}}Grids of images, videos, text, and more{{/i}}</small></h1>
  </div>

  <div class="row">
    <div class="span6">
      <h2>{{_i}}Default thumbnails{{/i}}</h2>
      <p>{{_i}}By default, Bootstrap's thumbnails are designed to showcase linked images with minimal required markup.{{/i}}</p>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h2>{{_i}}Highly customizable{{/i}}</h2>
      <p>{{_i}}With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.{{/i}}</p>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>{{_i}}Thumbnail label{{/i}}</h5>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn btn-primary">{{_i}}Action{{/i}}</a> <a href="#" class="btn">{{_i}}Action{{/i}}</a></p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5>{{_i}}Thumbnail label{{/i}}</h5>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a href="#" class="btn btn-primary">{{_i}}Action{{/i}}</a> <a href="#" class="btn">{{_i}}Action{{/i}}</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h3>{{_i}}Why use thumbnails{{/i}}</h3>
      <p>{{_i}}Thumbnails (previously <code>.media-grid</code> up until v1.4) are great for grids of photos or videos, image search results, retail products, portfolios, and much more. They can be links or static content.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Simple, flexible markup{{/i}}</h3>
      <p>{{_i}}Thumbnail markup is simple&mdash;a <code>ul</code> with any number of <code>li</code> elements is all that is required. It's also super flexible, allowing for any type of content with just a bit more markup to wrap your contents.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Uses grid column sizes{{/i}}</h3>
      <p>{{_i}}Lastly, the thumbnails component uses existing grid system classes&mdash;like <code>.span2</code> or <code>.span3</code>&mdash;for control of thumbnail dimensions.{{/i}}</p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>{{_i}}The markup{{/i}}</h2>
      <p>{{_i}}As mentioned previously, the required markup for thumbnails is light and straightforward. Here's a look at the default setup <strong>for linked images</strong>:{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="thumbnails"&gt;
  &lt;li class="span3"&gt;
    &lt;a href="#" class="thumbnail"&gt;
      &lt;img src="http://placehold.it/260x180" alt=""&gt;
    &lt;/a&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
      <p>{{_i}}For custom HTML content in thumbnails, the markup changes slightly. To allow block level content anywhere, we swap the <code>&lt;a&gt;</code> for a <code>&lt;div&gt;</code> like so:{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="thumbnails"&gt;
  &lt;li class="span3"&gt;
    &lt;div class="thumbnail"&gt;
      &lt;img src="http://placehold.it/260x180" alt=""&gt;
      &lt;h5&gt;{{_i}}Thumbnail label{{/i}}&lt;/h5&gt;
      &lt;p&gt;{{_i}}Thumbnail caption right here...{{/i}}&lt;/p&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;
</pre>
    </div>
    <div class="span6">
      <h2>{{_i}}More examples{{/i}}</h2>
      <p>{{_i}}Explore all your options with the various grid classes available to you. You can also mix and match different sizes.{{/i}}</p>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>



<!-- Alerts & Messages
================================================== -->
<section id="alerts">
  <div class="page-header">
    <h1>{{_i}}Alerts{{/i}} <small>{{_i}}Styles for success, warning, and error messages{{/i}}</small></h1>
  </div>

  <h2>{{_i}}Lightweight defaults{{/i}}</h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Rewritten base class{{/i}}</h3>
      <p>{{_i}}With Bootstrap 2, we've simplified the base class: <code>.alert</code> instead of <code>.alert-message</code>. We've also reduced the minimum required markup&mdash;no <code>&lt;p&gt;</code> is required by default, just the outer <code>&lt;div&gt;</code>.{{/i}}</p>
      <h3>{{_i}}Single alert message{{/i}}</h3>
      <p>{{_i}}For a more durable component with less code, we've removed the differentiating look for block alerts, messages that come with more padding and typically more text. The class also has changed to <code>.alert-block</code>.{{/i}}</p>
      <hr>
      <h3>{{_i}}Goes great with javascript{{/i}}</h3>
      <p>{{_i}}Bootstrap comes with a great jQuery plugin that supports alert messages, making dismissing them quick and easy.{{/i}}</p>
      <p><a class="btn js-btn" href="./javascript.html#alerts">{{_i}}Get the plugin &raquo;</a>{{/i}}</p>
    </div>
    <div class="span8">
      <h3>{{_i}}Example alerts{{/i}}</h3>
      <p>{{_i}}Wrap your message and an optional close icon in a div with simple class.{{/i}}</p>
      <div class="alert">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>{{_i}}Warning!{{/i}}</strong> {{_i}}Best check yo self, you're not looking too good.{{/i}}
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert"&gt;
  &lt;a class="close" data-dismiss="alert"&gt;&times;&lt;/a&gt;
  &lt;strong&gt;{{_i}}Warning!{{/i}}&lt;/strong&gt; {{_i}}Best check yo self, you're not looking too good.{{/i}}
&lt;/div&gt;
</pre>
      <p>{{_i}}Easily extend the standard alert message with two optional classes: <code>.alert-block</code> for more padding and text controls and <code>.alert-heading</code> for a matching heading.{{/i}}</p>
      <div class="alert alert-block">
        <a class="close" data-dismiss="alert">&times;</a>
        <h4 class="alert-heading">{{_i}}Warning!{{/i}}</h4>
        <p>{{_i}}Best check yo self, you're not looking too good.{{/i}} Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-block"&gt;
  &lt;a class="close" data-dismiss="alert"&gt;&times;&lt;/a&gt;
  &lt;h4 class="alert-heading"&gt;{{_i}}Warning!{{/i}}&lt;/h4&gt;
  {{_i}}Best check yo self, you're not...{{/i}}
&lt;/div&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Contextual alternatives{{/i}} <small>{{_i}}Add optional classes to change an alert's connotation{{/i}}</small></h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Error or danger{{/i}}</h3>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>{{_i}}Oh snap!{{/i}}</strong> {{_i}}Change a few things up and try submitting again.{{/i}}
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-error"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Success{{/i}}</h3>
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>{{_i}}Well done!{{/i}}</strong> {{_i}}You successfully read this important alert message.{{/i}}
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-success"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Information{{/i}}</h3>
      <div class="alert alert-info">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>{{_i}}Heads up!{{/i}}</strong> {{_i}}This alert needs your attention, but it's not super important.{{/i}}
      </div>
<pre class="prettyprint linenums">
&lt;div class="alert alert-info"&gt;
  ...
&lt;/div&gt;
</pre>
    </div>
  </div>

</section>



<!-- Progress bars
================================================== -->
<section id="progress">
  <div class="page-header">
    <h1>{{_i}}Progress bars{{/i}} <small>{{_i}}For loading, redirecting, or action status{{/i}}</small></h1>
  </div>

  <h2>{{_i}}Examples and markup{{/i}}</h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Basic{{/i}}</h3>
      <p>{{_i}}Default progress bar with a vertical gradient.{{/i}}</p>
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
<pre class="prettyprint linenums">
&lt;div class="progress"&gt;
  &lt;div class="bar"
       style="width: 60%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Striped{{/i}}</h3>
      <p>{{_i}}Uses a gradient to create a striped effect.{{/i}}</p>
      <div class="progress progress-info progress-striped">
        <div class="bar" style="width: 20%;"></div>
      </div>
<pre class="prettyprint linenums">
&lt;div class="progress progress-info
     progress-striped"&gt;
  &lt;div class="bar"
       style="width: 20%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <h3>{{_i}}Animated{{/i}}</h3>
      <p>{{_i}}Takes the striped example and animates it.{{/i}}</p>
      <div class="progress progress-danger progress-striped active">
        <div class="bar" style="width: 45%"></div>
      </div>
<pre class="prettyprint linenums">
&lt;div class="progress progress-danger
     progress-striped active"&gt;
  &lt;div class="bar"
       style="width: 40%;"&gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Options and browser support{{/i}}</h2>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Additional colors{{/i}}</h3>
      <p>{{_i}}Progress bars utilize some of the same class names as buttons and alerts for similar styling.{{/i}}</p>
      <ul>
        <li><code>.progress-info</code></li>
        <li><code>.progress-success</code></li>
        <li><code>.progress-danger</code></li>
      </ul>
      <p>{{_i}}Alternatively, you can customize the LESS files and roll your own colors and sizes.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Behavior{{/i}}</h3>
      <p>{{_i}}Progress bars use CSS3 transitions, so if you dynamically adjust the width via javascript, it will smoothly resize.{{/i}}</p>
      <p>{{_i}}If you use the <code>.active</code> class, your <code>.progress-striped</code> progress bars will animate the stripes left to right.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Browser support{{/i}}</h3>
      <p>{{_i}}Progress bars use CSS3 gradients, transitions, and animations to achieve all their effects. These features are not supported in IE7-8 or older versions of Firefox.{{/i}}</p>
      <p>{{_i}}Opera does not support animations at this time.{{/i}}</p>
    </div>
  </div>

</section>





<!-- Miscellaneous
================================================== -->
<section id="misc">
  <div class="page-header">
    <h1>{{_i}}Miscellaneous{{/i}} <small>{{_i}}Wells, badges, and close icon{{/i}}</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h2>{{_i}}Wells{{/i}}</h2>
      <p>{{_i}}Use the well as a simple effect on an element to give it an inset effect.{{/i}}</p>
      <div class="well">
        {{_i}}Look, I'm in a well!{{/i}}
      </div>
<pre class="prettyprint linenums">
&lt;div class="well"&gt;
  ...
&lt;/div&gt;
</pre>
    </div><!--/span-->
    <div class="span4" style="display: none;">
      <h2>{{_i}}Badges{{/i}}</h2>
      <p>{{_i}}Use a badge on an element for an unread count or as a simple indicator.{{/i}}</p>
<pre class="prettyprint linenums">&lt;span class="badge"&gt;3&lt;/div&gt;</pre>
    </div><!--/span-->
    <div class="span4">
      <h2>{{_i}}Close icon{{/i}}</h2>
      <p>{{_i}}Use the generic close icon for dismissing content like modals and alerts.{{/i}}</p>
      <p><a class="close" style="float: none;">&times;</a></p>
<pre class="prettyprint linenums">&lt;a class="close"&gt;&amp;times;&lt;/a&gt;</pre>
    </div><!--/span-->
  </div><!--/row-->
</section>
