      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>{{_i}}Scaffolding{{/i}}</h1>
        <p class="lead">{{_i}}Bootstrap is built on a responsive 12-column grid. We've also included fixed- and fluid-width layouts based on that system.{{/i}}</p>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#grid-system">{{_i}}Grid system{{/i}}</a></li>
            <li><a href="#layouts">{{_i}}Layouts{{/i}}</a></li>
            <li><a href="#responsive">{{_i}}Responsive design{{/i}}</a></li>
          </ul>
        </div>
      </header>



<!-- Grid system
================================================== -->
<section id="grid-system">
  <div class="page-header">
    <h1>{{_i}}Grid system <small>12 columns with a responsive twist</small>{{/i}}</h1>
  </div>

  <h2>{{_i}}Default grid{{/i}}</h2>
  <div class="row show-grid">
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
  </div>
  <div class="row show-grid">
    <div class="span4">4</div>
    <div class="span4">4</div>
    <div class="span4">4</div>
  </div>
  <div class="row show-grid">
    <div class="span4">4</div>
    <div class="span8">8</div>
  </div>
  <div class="row show-grid">
    <div class="span6">6</div>
    <div class="span6">6</div>
  </div>
  <div class="row show-grid">
    <div class="span12">12</div>
  </div>
  <div class="row">
    <div class="span4">
      <p>{{_i}}The default grid system provided as part of Bootstrap is a <strong>940px-wide, 12-column grid</strong>.{{/i}}</p>
      <p>{{_i}}It also has four responsive variations for various devices and resolutions: phone, tablet portrait, table landscape and small desktops, and large widescreen desktops.{{/i}}</p>
    </div>
    <div class="span4">
<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="span4"&gt;...&lt;/div&gt;
  &lt;div class="span8"&gt;...&lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
    <div class="span4">
      <p>{{_i}}As shown here, a basic layout can be created with two "columns," each spanning a number of the 12 foundational columns we defined as part of our grid system.{{/i}}</p>
    </div>
  </div><!-- /row -->

  <br>

  <h2>{{_i}}Offsetting columns{{/i}}</h2>
  <div class="row show-grid">
    <div class="span4">4</div>
    <div class="span4 offset4">4 offset 4</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span3 offset3">3 offset 3</div>
    <div class="span3 offset3">3 offset 3</div>
  </div><!-- /row -->
  <div class="row show-grid">
    <div class="span8 offset4">8 offset 4</div>
  </div><!-- /row -->
<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="span4"&gt;...&lt;/div&gt;
  &lt;div class="span4 offset4"&gt;...&lt;/div&gt;
&lt;/div&gt;
</pre>

  <br>

  <h2>{{_i}}Nesting columns{{/i}}</h2>
  <div class="row">
    <div class="span6">
      <p>{{_i}}With the static (non-fluid) grid system in Bootstrap, nesting is easy. To nest your content, just add a new <code>.row</code> and set of <code>.span*</code> columns within an existing <code>.span*</code> column.{{/i}}</p>
      <h4>{{_i}}Example{{/i}}</h4>
      <div class="row show-grid">
        <div class="span6">
          {{_i}}Level 1 of column{{/i}}
          <div class="row show-grid">
            <div class="span3">
              {{_i}}Level 2{{/i}}
            </div>
            <div class="span3">
              {{_i}}Level 2{{/i}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="span12"&gt;
    {{_i}}Level 1 of column{{/i}}
    &lt;div class="row"&gt;
      &lt;div class="span6"&gt;{{_i}}Level 2{{/i}}&lt;/div&gt;
      &lt;div class="span6"&gt;{{_i}}Level 2{{/i}}&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

  <h2>{{_i}}Grid customization{{/i}}</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{_i}}Variable{{/i}}</th>
        <th>{{_i}}Default value{{/i}}</th>
        <th>{{_i}}Description{{/i}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@gridColumns</code></td>
        <td>12</td>
        <td>{{_i}}Number of columns{{/i}}</td>
      </tr>
      <tr>
        <td><code>@gridColumnWidth</code></td>
        <td>60px</td>
        <td>{{_i}}Width of each column{{/i}}</td>
      </tr>
      <tr>
        <td><code>@gridGutterWidth</code></td>
        <td>20px</td>
        <td>{{_i}}Negative space between columns{{/i}}</td>
      </tr>
      <tr>
        <td><code>@siteWidth</code></td>
        <td><em>{{_i}}Computed sum of all columns and gutters{{/i}}</em></td>
        <td>{{_i}}Counts number of columns and gutters to set width of the <code>.container-fixed()</code> mixin{{/i}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="span4">
      <h3>{{_i}}Variables in LESS{{/i}}</h3>
      <p>{{_i}}Built into Bootstrap are a handful of variables for customizing the default 940px grid system, documented above. All variables for the grid are stored in variables.less.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}How to customize{{/i}}</h3>
      <p>{{_i}}Modifying the grid means changing the three <code>@grid*</code> variables and recompiling Bootstrap. Change the grid variables in variables.less and use one of the <a href="less.html#compiling">four ways documented to recompile</a>. If you're adding more columns, be sure to add the CSS for those in grid.less.{{/i}}</p>
    </div>
    <div class="span4">
      <h3>{{_i}}Staying responsive{{/i}}</h3>
      <p>{{_i}}Customization of the grid only works at the default level, the 940px grid. To maintain the responsive aspects of Bootstrap, you'll also have to customize the grids in responsive.less.{{/i}}</p>
    </div>
  </div><!-- /row -->

</section>



<!-- Layouts (Default and fluid)
================================================== -->
<section id="layouts">
  <div class="page-header">
    <h1>{{_i}}Layouts <small>Basic templates to create webpages</small>{{/i}}</h1>
  </div>

  <div class="row">
    <div class="span6">
      <h2>{{_i}}Fixed layout{{/i}}</h2>
      <p>{{_i}}The default and simple 940px-wide, centered layout for just about any website or page provided by a single <code>&lt;div class="container"&gt;</code>.{{/i}}</p>
      <div class="minicon-layout">
        <div class="minicon-layout-body"></div>
      </div>
<pre class="prettyprint linenums">
&lt;body&gt;
  &lt;div class="container"&gt;
    ...
  &lt;/div&gt;
&lt;/body&gt;
</pre>
    </div><!-- /col -->
    <div class="span6">
      <h2>{{_i}}Fluid layout{{/i}}</h2>
      <p>{{_i}}<code>&lt;div class="container-fluid"&gt;</code> gives flexible page structure, min- and max-widths, and a left-hand sidebar. It's great for apps and docs.{{/i}}</p>
      <div class="minicon-layout fluid">
        <div class="minicon-layout-sidebar"></div>
        <div class="minicon-layout-body"></div>
      </div>
<pre class="prettyprint linenums">
&lt;div class="container-fluid"&gt;
  &lt;div class="row-fluid"&gt;
    &lt;div class="span2"&gt;
      &lt;!--{{_i}}Sidebar content{{/i}}--&gt;
    &lt;/div&gt;
    &lt;div class="span10"&gt;
      &lt;!--{{_i}}Body content{{/i}}--&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div><!-- /col -->
  </div><!-- /row -->
</section>




<!-- Responsive design
================================================== -->
<section id="responsive">
  <div class="page-header">
    <h1>{{_i}}Responsive design <small>Media queries for various devices and resolutions</small>{{/i}}</h1>
  </div>
  <!-- Supported devices -->
  <div class="row">
    <div class="span4">
      <img src="assets/img/responsive-illustrations.png" alt="Responsive devices">
    </div>
    <div class="span8">
      <h2>{{_i}}Supported devices{{/i}}</h2>
      <p>{{_i}}Bootstrap supports a handful of media queries to help make your projects more appropriate on different devices and screen resolutions. Here's what's included:{{/i}}</p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>{{_i}}Label{{/i}}</th>
            <th>{{_i}}Layout width{{/i}}</th>
            <th>{{_i}}Column width{{/i}}</th>
            <th>{{_i}}Gutter width{{/i}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{_i}}Smartphones{{/i}}</td>
            <td>480px and below</td>
            <td class="muted" colspan="2">{{_i}}Fluid columns, no fixed widths{{/i}}</td>
          </tr>
          <tr>
            <td>{{_i}}Portrait tablets{{/i}}</td>
            <td>480px to 768px</td>
            <td class="muted" colspan="2">{{_i}}Fluid columns, no fixed widths{{/i}}</td>
          </tr>
          <tr>
            <td>{{_i}}Landscape tablets{{/i}}</td>
            <td>768px to 980px</td>
            <td>44px</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>{{_i}}Default{{/i}}</td>
            <td>980px and up</td>
            <td>60px</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>{{_i}}Large display{{/i}}</td>
            <td>1210px and up</td>
            <td>70px</td>
            <td>30px</td>
          </tr>
        </tbody>
      </table>

      <h3>{{_i}}Requires meta tag{{/i}}</h3>
      <p>{{_i}}To ensure devices display responsive pages properly, include the viewport meta tag.{{/i}}</p>
      <pre class="prettyprint linenums">&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</pre>

      <h3>{{_i}}What they do{{/i}}</h3>
      <p>{{_i}}Media queries allow for custom CSS based on a number of conditions&mdash;ratios, widths, display type, etc&mdash;but usually focuses around <code>min-width</code> and <code>max-width</code>.{{/i}}</p>
      <ul>
        <li>{{_i}}Modify the width of column in our grid{{/i}}</li>
        <li>{{_i}}Stack elements instead of float wherever necessary{{/i}}</li>
        <li>{{_i}}Resize headings and text to be more appropriate for devices{{/i}}</li>
      </ul>
    </div>
  </div>

  <br>

  <!-- Media query code -->
  <h2>{{_i}}Using the media queries{{/i}}</h2>
  <div class="row">
    <div class="span5">
      <p>{{_i}}Bootstrap doesn't automatically include these media queries, but understanding and adding them is very easy and requires minimal setup. You have a few options for including the responsive features of Bootstrap:{{/i}}</p>
      <ol>
        <li>{{_i}}Use the compiled responsive version, bootstrap-responsive.css{{/i}}</li>
        <li>{{_i}}Add @import "responsive.less" and recompile Bootstrap{{/i}}</li>
        <li>{{_i}}Modify and recompile responsive.less as a separate file{{/i}}</li>
      </ol>
      <p>{{_i}}<strong>Why not just include it?</strong> Truth be told, not everything needs to be responsive. Instead of encouraging developers to remove this feature, we figure it best to enable it.{{/i}}</p>
    </div>
    <div class="span7">
<pre class="prettyprint linenums">
  // {{_i}}Landscape phones and down{{/i}}
  @media (max-width: 480px) { ... }

  // {{_i}}Landscape phone to portrait tablet{{/i}}
  @media (max-width: 768px) { ... }

  // {{_i}}Portrait tablet to landscape and desktop{{/i}}
  @media (min-width: 768px) and (max-width: 980px) { ... }

  // {{_i}}Large desktop{{/i}}
  @media (min-width: 1200px) { .. }
</pre>
    </div>
  </div>
</section>
