<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Upgrading to Bootstrap 2{{/i}}</h1>
  <p class="lead">{{_i}}Learn about significant changes and additions since v1.4 with this handy guide.{{/i}}</p>
</header>



<!-- Project
================================================== -->
<section id="docs">
  <div class="page-header">
    <h1>{{_i}}Project changes{{/i}}</h1>
  </div>
  <ul>
    <li>{{_i}}Docs: major updates across the board to general structure, examples, and code snippets. Also made responsive with new media queries.{{/i}}</li>
    <li>{{_i}}Docs: all docs pages are now powered by Mustache templates and strings are wrapped in i18n tags for translation by the Twitter Translation Center. All changes to documentation must be done here and then compiled (similar to our CSS and LESS).{{/i}}</li>
    <li>{{_i}}Repo directory structure: removed the compiled CSS from the root in favor of a large direct download link on the docs homepage. Compiled CSS is in <code>/docs/assets/css/</code>.{{/i}}</li>
    <li>{{_i}}Docs and repo: one makefile, just type <code>make</code> in the Terminal and get updated docs and CSS.{{/i}}</li>
  </ul>
</section>



<!-- Scaffolding
================================================== -->
<section id="scaffolding">
  <div class="page-header">
    <h1>{{_i}}Scaffolding{{/i}}</h1>
  </div>
  <h3>{{_i}}Grid system{{/i}}</h3>
  <ul>
    <li>{{_i}}Updated grid system, now only 12 columns instead of 16{{/i}}
    <li>{{_i}}Responsive approach means your projects virtually work out of the box on smartphones, tablets, and more{{/i}}</li>
    <li>{{_i}}Removed unused (by default) grid columns support for 17-24 columns{{/i}}</li>
  </ul>
  <h3>{{_i}}Responsive (media queries){{/i}}</h3>
  <ul>
    <li>{{_i}}Media queries added for <strong>basic support</strong> across mobile and tablet devices{{/i}}
    <li>{{_i}}Responsive CSS is compiled separately, as bootstrap-responsive.css{{/i}}</li>
  </ul>  
</section>



<!-- Base CSS
================================================== -->
<section id="baseCSS">
  <div class="page-header">
    <h1>{{_i}}Base CSS{{/i}}</h1>
  </div>
  <h3>{{_i}}Typography{{/i}}</h3>
  <ul>
    <li>{{_i}}<code>h4</code> elements were dropped from 16px to 14px with a default <code>line-height</code> of 18px{{/i}}</li>
    <li>{{_i}}<code>h5</code> elements were dropped from 14px to 12px{{/i}}</li>
    <li>{{_i}}<code>h6</code> elements were dropped from 13px to 11px{{/i}}</li>
    <li>{{_i}}Right-aligned option for blockquotes if <code>float: right;</code>{{/i}}</li>
  </ul>
  <h3>{{_i}}Code{{/i}}</h3>
  <ul>
    <li>{{_i}}New graphical style for <code>&lt;code&gt;</code>{{/i}}</li>
    <li>{{_i}}Google Code Prettify styles updated (based on GitHub's gists){{/i}}</li>
  </ul>
  <h3>{{_i}}Tables{{/i}}</h3>
  <ul>
    <li>{{_i}}Improved support for <code>colspan</code> and <code>rowspan</code>{{/i}}</li>
    <li>{{_i}}Styles now restricted to new base class, <code>.table</code>{{/i}}</li>
    <li>{{_i}}Table classes standardized with <code>.table-</code> required as a prefix{{/i}}</li>
    <li>{{_i}}Removed unused table color options (too much code for such little impact){{/i}}</li>
    <li>{{_i}}Dropped support for TableSorter{{/i}}</li>
  </ul>
  <h3>{{_i}}Buttons{{/i}}</h3>
  <ul>
    <li>{{_i}}New classes for colors and sizes, all prefixed with <code>.btn-</code>{{/i}}</li>
    <li>{{_i}}IE9: removed gradients and added rounded corners{{/i}}</li>
    <li>{{_i}}Updated active state to make styling clearer in button groups (new) and look better with custom transition{{/i}}</li>
    <li>{{_i}}New mixin, <code>.buttonBackground</code>, to set button gradients{{/i}}</li>
    <li>{{_i}}The <code>.secondary</code> class was removed from modal examples in our docs as it never had associated styles.{{/i}}</li>
  </ul>
  <h3>{{_i}}Forms{{/i}}</h3>
  <ul>
    <li>{{_i}}Default form style is now vertical (stacked) to use less CSS and add greater flexibility{{/i}}</li>
    <li>{{_i}}Form classes standardized with <code>.form-</code> required as a prefix{{/i}}</li>
    <li>{{_i}}New built-in form defaults for search, inline, and horizontal forms{{/i}}</li>
    <li>{{_i}}For horizontal forms, previous classes <code>.clearfix</code> and <code>.input</code> are equivalent to the new <code>.control-group</code> and <code>.controls</code>.{{/i}}</li>
    <li>{{_i}}More flexible horizontal form markup with classes for all styling, including new optional class for the <code>label</code>{{/i}}</li>
    <li>{{_i}}Form states: colors updated and customizable via new LESS variables{{/i}}</li>
  </ul>
  <h3>{{_i}}Icons, by Glyphicons{{/i}}</h3>
  <ul>
    <li>{{_i}}New Glyphicons Halflings icon set added in sprite form, in black and white{{/i}}</li>
    <li>{{_i}}Simple markup required for an icon in tons of contexts: <code>&lt;i class="icon-cog"&gt;&lt;/&gt;</code>{{/i}}</li>
    <li>{{_i}}Add another class, <code>.icon-white</code>, for white variation of the same icon{{/i}}</li>
  </ul>
</section>



<!-- Components
================================================== -->
<section id="components">
  <div class="page-header">
    <h1>{{_i}}Components{{/i}}</h1>
  </div>
  <h3>{{_i}}Button groups and dropdowns{{/i}}</h3>
  <ul>
    <li>{{_i}}Two brand new components in 2.0: button groups and button dropdowns{{/i}}</li>
    <li>{{_i}}Dependency: button dropdowns are built on button groups, and therefore require all their styles{{/i}}</li>
    <li>{{_i}}Button groups, <code>.btn-group</code>, can be grouped one level higher with a button toolbar, <code>.btn-toolbar</code>{{/i}}</li>
  </ul>
  <h3>{{_i}}Navigation{{/i}}</h3>
  <ul>
    <li>{{_i}}Tabs and pills now require the use of a new base class, <code>.nav</code>, on their <code>&lt;ul&gt;</code> and the class names are now <code>.nav-pills</code> and <code>.nav-tabs</code>.{{/i}}</li>
    <li>{{_i}}New nav list variation added that uses the same base class, <code>.nav</code>{{/i}}</li>
    <li>{{_i}}Vertical tabs and pills have been added&mdash;just add <code>.nav-stacked</code> to the <code>&lt;ul&gt;</code>{{/i}}</li>
    <li>{{_i}}Pills were restyled to be less rounded by default{{/i}}</li>
    <li>{{_i}}Pills now have dropdown menu support (they share the same markup and styles as tabs){{/i}}</li>
  </ul>
  <h3>{{_i}}Navbar (formerly topbar){{/i}}</h3>
  <ul>
    <li>{{_i}}Base class changed from <code>.topbar</code> to <code>.navbar</code>{{/i}}</li>
    <li>{{_i}}Now supports static position (default behavior, not fixed) and fixed to the top of viewport via <code>.navbar-fixed-top</code> (previously only supported fixed){{/i}}</li>
    <li>{{_i}}Added vertical dividers to top-level nav{{/i}}</li>
    <li>{{_i}}Improved support for inline forms in the navbar, which now require <code>.navbar-form</code> to properly scope styles to only the intended forms.{{/i}}</li>
    <li>{{_i}}Navbar search form now requires use of the <code>.navbar-search</code> class and its input the use of <code>.search-query</code>. To position the search form, you <strong>must</strong> use <code>.pull-left</code> or <code>.pull-right</code>.{{/i}}</li>
    <li>{{_i}}Added optional responsive markup for collapsing navbar contents for smaller resolutions and devices. <a href="./components.html#navbar">See navbar docs</a> for how to utilize.{{/i}}</li>
  </ul>
  <h3>{{_i}}Dropdown menus{{/i}}</h3>
  <ul>
    <li>{{_i}}Updated the <code>.dropdown-menu</code> to tighten up spacing{{/i}}</li>
    <li>{{_i}}Now requires you to add a <code>&lt;span class="caret"&gt;&lt;/span&gt;</code> to show the dropdown arrow{{/i}}</li>
    <li>{{_i}}Now requires you to add a <code>data-toggle="dropdown"</code> attribute to obtain toggling behavior{{/i}}</li>
    <li>{{_i}}The navbar (fixed topbar) has brand new dropdowns. Gone are the dark versions and in their place are the standard white ones with an additional caret at their tops for clarity of position.{{/i}}</li>
  </ul>
  <h3>{{_i}}Labels{{/i}}</h3>
  <ul>
    <li>{{_i}}Label colors updated to match form state colors{{/i}}</li>
    <li>{{_i}}Not only do they match graphically, but they are powered by the same new variables{{/i}}</li>
  </ul>
  <h3>{{_i}}Thumbnails{{/i}}</h3>
  <ul>
    <li>{{_i}}Formerly <code>.media-grid</code>, now just <code>.thumbnails</code>, we've thoroughly extended this component for more uses while maintaining overall simplicity out of the box.{{/i}}</li>
    <li>{{_i}}Individual thumbnails now require <code>.thumbnail</code> class{{/i}}</li>
  </ul>
  <h3>{{_i}}Alerts{{/i}}</h3>
  <ul>
    <li>{{_i}}New base class: <code>.alert</code> instead of <code>.alert-message</code>{{/i}}</li>
    <li>{{_i}}Class names standardized for other options, now all starting with <code>.alert-</code>{{/i}}</li>
    <li>{{_i}}Redesigned base alert styles to combine the default alerts and block-level alerts into one{{/i}}</li>
    <li>{{_i}}Block level alert class changed: <code>.alert-block</code> instead of <code>.block-message</code>{{/i}}</li>
  </ul>
  <h3>{{_i}}Progress bars{{/i}}</h3>
  <ul>
    <li>{{_i}}New in 2.0{{/i}}</li>
    <li>{{_i}}Features multiple styles via classes, including striped and animated variations via CSS3{{/i}}</li>
  </ul>
  <h3>{{_i}}Miscellaneous components{{/i}}</h3>
  <ul>
    <li>{{_i}}Added documentation for the well component and the close icon (used in modals and alerts){{/i}}</li>
  </ul>
</section>



<!-- Javascript
================================================== -->
<section id="javascript">
  <div class="page-header">
    <h1>{{_i}}Javascript plugins{{/i}}</h1>
  </div>
  <div class="alert alert-info">
    <strong>{{_i}}Heads up!{{/i}}</strong> {{_i}}We're rewritten just about everything for our plugins, so head on over to <a href="./javascript.html">the Javascript page</a> to learn more.{{/i}}
  </div>
  <h3>{{_i}}Popovers{{/i}}</h3>
  <ul>
    <li>{{_i}}Child elements now properly namespaced: <code>.title</code> to <code>.popover-title</code>, <code>.inner</code> to <code>.popover-inner</code>, and <code>.content</code> to <code>.popover-content</code>.{{/i}}</li>
  </ul>
  <h3>{{_i}}New plugins{{/i}}</h3>
  <ul>
    <li>{{_i}}<a href="./javascript.html#collapse">Collapse</a>{{/i}}</li>
    <li>{{_i}}<a href="./javascript.html#carousel">Carousel</a>{{/i}}</li>
    <li>{{_i}}<a href="./javascript.html#typeahead">Typeahead</a>{{/i}}</li>
  </ul>
</section>

